// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #f6cebd;
$secondary : #4f78df;
$accent    : #51b8d1;

$dark      : #2a4d98;
$darkblue  : #21355f;

$positive  : #efa2a4;
$negative  : #f8b6b7;
$info      : #fcdcdc;
$warning   : #c9ddf0;

// @import '~quasar-variables-styl'
