// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #f6cebd;
$secondary : #85a1dc;
$accent    : #51b8d1;

$dark      : #3760b8;
$darkblue  : #21355f;

$positive  : #efa2a4;
$negative  : #f8b6b7;
$info      : #296f81;
$warning   : #3f96ac;;


// @import '~quasar-variables-styl'
