// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #f2cbb6;
$secondary : #699dd1;
$accent    : #3da1ba;

$dark      : #3e79b5;
$dark-page : #223868;

$positive  : #f78185;
$negative  : #e69193;
$info      : #fcdcdc;
$warning   : #c9ddf0;

// @import '~quasar-variables-styl'
